app/config/config_*.py
app/config/config.py
**/client_secret.json
app/config/runtimeSettings.json
app/config/schedulesDB.json
app/config/schedulesDB_*.json
**/*.pem
**/*.pyc
**/measurements/*
doc/*
db/*BKP*