<html ng-app="HeaterApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico"-->
  <title>Heat Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
  <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/theme-customisation.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/github.min.css') }}" type="text/css">
  <link href="{{ url_for('static', filename='css/angular-bootstrap-toggle.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/angular-bootstrap-toggle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular-moment-picker.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/angular-moment-picker.css') }}" type="text/css">
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
{% raw %}
<body ng-controller="HeaterController">
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1 class="display-3">Heat Control</h1>
          <p class="lead text-muted">Manage your boiler</p>
        </div>
        <div class="col-md-3">
          <div class="alert alert-info col-md-4 col-md-offset-8 profile-block">
            <div>
              <img class="img-responsive img-circle center-block profile-picture" ng-src="{{user.picture}}"/>
            </div>
            <div>
              <small class="text-center">{{user.name}}</small>
            </div>
            <div>
              <a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-4" ng-show="errors != null && errors.length != 0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-danger">
            {{errors}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
            
        </div>
      </div>
    </div>
  </div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% endraw %}
          <h3>Current Temperatures <i class="btn btn-lg glyphicon glyphicon-refresh" ng-show="!isTemperaturePendingRefresh()" title="Refresh temperatures" ng-click="fetchCurrentTemperatures()"></i><img class="img" src="{{ url_for('static', filename='images/spinner.gif') }}" width="20" ng-show="isTemperaturePendingRefresh()" title="Refreshing temperatures"><a href="https://services.nesty.stream:3500/" class="black-hyperlink" title="Show stats" target="_blank"><i class="glyphicon glyphicon-stats" width="20" ng-click="fetchCurrentTemperatures()"></i></a></h3>
          {% raw %}
          <hr class="mb-4"> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 p-3" ng-repeat="place in availablePlaces | orderBy">
          <div class="alert" ng-class="getAlertTypeForTemperatureRange(currentTemperatures[place].temperature)">
            {{place}}: {{currentTemperatures[place].roundedTemperature}} C <span ng-show="isPlaceDrivingTemperature(place)" class="badge">Driver</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% endraw %}
          <h3>Status <i class="glyphicon glyphicon-refresh btn btn-lg" width="20" ng-show="!refreshingBoiler" title="Refresh system status" ng-click="getBoilerStatus()"></i><img class="img" width="20" src="{{ url_for('static', filename='images/spinner.gif') }}" ng-show="refreshingBoiler" title="Refreshing boiler"></h3>
          {% raw %}
          <hr class="mb-4"> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>System is</h4>
        </div>
        <div class="col-md-3">
          <toggle id="boilerStatus" ng-model="isSystemOn" ng-change="toggleSystem()" on="On" off="Off" onstyle="btn-success" offstyle="btn-danger"></toggle>
        </div>
        <div class="col-md-3">
          <h4>Boiler is</h4>
        </div>
        <div class="col-md-3">
          <toggle ng-disabled="true" id="boilerStatus" ng-model="isBoilerOn" on="Burning" off="Snoozing" onstyle="btn-success" offstyle="btn-danger"></toggle>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn">
        <div class="col-md-3">
          <h4>System Mode</h4>
        </div>
        <div class="col-md-3">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-class="isManualModeEnabled()?'active':''" ng-click="setMode('manual')">Manual</button>
            <button type="button" class="btn btn-default" ng-class="isScheduleModeEnabled()?'active':''" ng-click="setMode('schedule')">Schedule</button>
          </div>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn && isScheduleModeEnabled()">
        <div class="col-md-3">
          <h4>Snooze schedule?</h4>
          <small ng-show="isSystemOn && isScheduleModeEnabled() && isCurrentScheduleOverriden" class="form-text text-muted">til {{getOverrideTimeEndDate() | date : 'yyyy-MM-dd HH:mm'}}</small>
        </div>
        <div class="col-md-3">
          <toggle id="boilerStatus" ng-model="isCurrentScheduleOverriden" ng-change="toggleOverrideSchedule()" on="Yes" off="No" onstyle="btn-warning" offstyle="btn-success"></toggle>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn && isScheduleModeEnabled() && isCurrentScheduleOverriden">
        <div class="col-md-3">
          <h4>Snooze for</h4><small class="form-text text-muted">(hours)</small>
        </div>
        <div class="col-md-3">
          <input class="form-control" type="number" ng-model="scheduleOverridenTime" ng-change="updateSystemValues()" ng-model-options="{ debounce: 1000 }" min="0" max="48" step="0.5"/>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn && (isManualModeEnabled() || isScheduleModeEnabled() && isCurrentScheduleOverriden)">
        <div class="col-md-3">
          <h4>Maintain temperature?</h4>
        </div>
        <div class="col-md-3">
          <toggle ng-disabled="!(isManualModeEnabled() || isScheduleModeEnabled() && isCurrentScheduleOverriden)" id="maintainTemperature" ng-model="maintainTemperature" ng-change="toggleMantainTemperature()" ng-model-options="{ debounce: 500 }" on="Yes" off="No" onstyle="btn-success" offstyle="btn-danger"></toggle>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn && (isManualModeEnabled() || isScheduleModeEnabled() && isCurrentScheduleOverriden)">
        <div class="col-md-3">
          <h4>Target Temperature</h4>
        </div>
        <div class="col-md-3">
          <input class="form-control" type="number" ng-model="manualTemperature" ng-change="updateSystemValues()" ng-model-options="{ debounce: 1000 }" min="13" max="30" step="0.1"/>
        </div>
      </div>
      <div class="row" ng-show="isSystemOn && (isManualModeEnabled() || isScheduleModeEnabled() && isCurrentScheduleOverriden)">
        <div class="col-md-3">
          <h4>Room Driving temperature</h4>
        </div>
        <div class="col-md-3">
            <select class="form-control" name="manualLocation" 
                ng-model="manualLocation"
                ng-change="updateSystemValues()"
                ng-options="place for place in availablePlaces">
            </select>
        </div>
      </div>
    </div>
  </div>

  <div class="py-6" ng-show="isSystemOn">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>Schedule</h3>
          <hr class="mb-4"> </div>
      </div>
      <div class="row">
        <div class="col-md-9 p-3">
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-inverse">
              <tr>
                <th scope="col">Day</th>
                <th scope="col">'On' Times</th>
                <th scope="col">Temp</th>
                <th scope="col">Place</th>
                <th scope="col"><span class="glyphicon glyphicon-trash"/></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="schedule in schedules" >
                <td ng-class="(isSameSchedule(schedule,activeSchedule))?'bg-primary':''">{{schedule['dayOfWeekName']}}</th>
                <td ng-class="(isSameSchedule(schedule,activeSchedule))?'bg-primary':''">{{schedule['fromTime']}} - {{schedule['toTime']}}</td>
                <td ng-class="(isSameSchedule(schedule,activeSchedule))?'bg-primary':''">{{schedule['targetTemperature']}}</th>
                <td ng-class="(isSameSchedule(schedule,activeSchedule))?'bg-primary':''">{{schedule['targetPlace']}}</th>
                <td ng-class="(isSameSchedule(schedule,activeSchedule))?'bg-primary':''"><span class="glyphicon glyphicon-trash" ng-dblClick="deleteSchedule(schedule)"/></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3 p-3">
          <div class="form-group my-3">
            <select class="form-control" name="dayOfWeek" ng-model="newSchedule.dayOfWeek">
              <option value="0">Monday</option>
              <option value="1">Tuesday</option>
              <option value="2">Wednesday</option>
              <option value="3">Thursday</option>
              <option value="4">Friday</option>
              <option value="5">Saturday</option>
              <option value="6">Sunday</option>
            </select>
            <small id="fromDateHelp" class="form-text text-muted">Day of the week</small>
          </div>
          <div class="form-group mb-3">
            <div class="input-group" moment-picker="newSchedule.fromTime" locale="en_gb" format="HH:mm" >
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
              </span>
              <input type="text" class="form-control" name="fromTime" placeholder="Select start time" ng-model="newSchedule.fromTime">
            </div>
            <small id="fromTimeHelp" class="form-text text-muted">Start time</small>
          </div>
          <div class="form-group mb-3">
            <div class="input-group" moment-picker="newSchedule.toTime" locale="en_gb" format="HH:mm" >
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
              </span>
              <input type="text" class="form-control" name="toTime" placeholder="Select end time" ng-model="newSchedule.toTime">
            </div>
            <small id="toTimeHelp" class="form-text text-muted">End time</small>
          </div>
          <div class="form-group my-3">
            <input class="form-control" type="number" name="targetTemperature" ng-model="newSchedule.targetTemperature" min="13" max="30" step="0.1"/>
            <small id="targetTemperatureHelp" class="form-text text-muted">Desired temperature in selected room</small>
          </div>
          <div class="form-group my-3">
            <select class="form-control" name="targetPlace" 
                ng-model="newSchedule.targetPlace"
                ng-change=""
                ng-options="place for place in availablePlaces">
            </select>

            <small id="targetPlaceHelp" class="form-text text-muted">Select room that will drive temperature</small>
          </div>
          <button type="submit"  ng-click="addSchedule()" class="btn btn-primary my-2">Add Schedule</button>
        </div>
      </div>
    </div>
  </div>
</body>
{% endraw %}
</html>
